/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
//   $color-pack: false
  $dialog-border-radius: 16px,
  $text-field-border-radius: 16px,
  $border-radius-root: 16px,
  $button-border-radius: 8px,
);
