// vip
$vip_swiper_bg: conic-gradient(from 45.24deg at 50.17% 49.69%, #212442 0deg, #212442 178.12deg, #2D2C59 360deg),
linear-gradient(0deg, #424173, #424173);
$vip_swiper_border: #424173;
$vip_tabs_bg: #5E44EA;
$vip_tabs_text_color: #fff;
$vip_tabs_shadow: #0000004D;
$vip_card_bg: linear-gradient(0deg, #212442 0%, #2D2C59 100%);
$vip_card_radio_bg: linear-gradient(0deg, #212442 0%, #2D2C59 100%);

// home
$home_tabs_bg: #009B3A;
$home_text_color:  #009B3A;

// agent
$agent_tabs_text_select_color: #fff;
$agent_tabs_text_unselected_color: #7782AA;
$agent_card_bg: #15161C;
$agent_card_shadows: #00000059;
$agent_card_title_color: #F9BC01;
$agent_card_notmet_bg: #1D2027;
$agent_card_notmet_box_shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.30);
$agent_card_notmet_bar_bg: linear-gradient(0deg, #15161C 0%, #393A71 100%);
$agent_card_notmet_text_color: #15161C;
$agent_card_price_color: #F9BC01;
$agent_card_text_color: #fff;
$agent_card_bar_bg: #009B3A;
$agent_card_bar_text_color: #009B3A;
$agent_copy_bg: #07070A;
$agent_copy_shadows: #00000059;
$agent_tips_bg: #15161C;
$agent_tips_shadows: #00000066;
$agent_select_border: #00B25C;
$agent_card_real_bg: linear-gradient(90deg, #221F32 0%, #5E44EA 100%);
$agent_card_real_text_color: #6AA82D;
$agent_card_bonuses_bg: linear-gradient(90deg, #23262F 0%, #5D8F29 100%);
$agent_card_bonuses_text_color: #F9BC01;
$agent_card_bonuses_time_color: #DE3D12;
$agent_card_table_bg: #15161C;
$agent_card_public_bg: linear-gradient(90deg, #23262F 0%, #424567 100%);
$agent_referral_report_card_bg: #0E5E50;
$agent_color_1: #0A072F;
$agent_color_2: #007963 ;
$agent_color_3: #23262F;
$agent_color_4: #1682F1;

$color_1: #1D2027;
$color_2: #009b3a;














